@font-face {
  font-family: 'regular';
  src: url('~@assets/fonts/roboto-regular.ttf'), url('~@assets/fonts/roboto-regular.woff');
}

@font-face {
  font-family: 'bold';
  src: url('~@assets/fonts/roboto-bold.ttf'), url('~@assets/fonts/roboto-bold.woff');
}
