.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.ml-5 {
  margin-left: 0.8rem;
}

.mb-10 {
  margin-bottom: 1rem;
}

.m-0 {
  margin: 0;
}
